<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <script src="http://127.0.0.1:12800/static/js/init.js">
  </script>
</head>

<body>
  <h1 collect="h1test"><%= title%></h1>
  <p>Welcome to <%= title%></p>
  <div>lalala<a href="###" title="提交啦" id="submit" collect="pay">click</a></div>
  <script src="http://127.0.0.1:12800/static/js/loadjs.js"></script>
</body>

</html>